.ProduceEditModal {

  :global {
    .ant-modal-content {
      .ant-modal-body {
        max-height: 576px;
        overflow-y: auto;
      }
    }
  }
}

.name {
  padding-left: 64px;

  :global {
    .ant-space {
      .ant-space-item {
        width: 50%;


      }
    }
  }
}

.uploader {
  background: skyblue;
  position: relative;
  background:white;
  width: 100%;
  height: 100%;
  >span {
    position: absolute;
    // width: 100%;
    // height: 100%;
  }

  >span:nth-of-type(2) {
    right: -4px;
  }

  :global {
    .anticon-plus {
      cursor: pointer;
    }

    .ant-upload-list-item-uploading {
      display: none;
    }

    .ant-upload-list-item-list-type-text {
      display: none;
    }
    .ant-upload-list-item-list-type-picture-card{
      width: 104px;
      height: 104px;
    }
  }
}
