.ProduceEditModal {

  :global {
    .ant-modal-content {
      .ant-modal-body {
        max-height: 576px;
        overflow-y: auto;
      }
    }
  }
}

.name {
  padding-left: 64px;

  :global {
    .ant-space {
      .ant-space-item {
        width: 50%;


      }
    }
  }
}

.uploader {
  background: skyblue;
  position: relative;
  background:white;
  width: 100%;
  height: 100%;
  >span {
    position: absolute;
    // width: 100%;
    // height: 100%;
  }

  >span:nth-of-type(2) {
    right: -4px;
  }

  :global {
    .anticon-plus {
      cursor: pointer;
    }

    .ant-upload-list-item-uploading {
      display: none;
    }

    .ant-upload-list-item-list-type-text {
      display: none;
    }
    .ant-upload-list-item-list-type-picture-card{
      width: 104px;
      height: 104px;
    }
  }
}

.uploaderItem{
  width:104px;
  height: 104px;
  padding:10px;
  border:1px solid #ccc;
  position: relative;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  >img{
    position: absolute;
    width:calc(100% - 20px);
    // height:calc(100% - 20px);
  }
}
.uploaderItem:hover .handle{
  display: flex;
}
.handle{
  position: absolute;
  width:calc(100% - 20px);
  height:calc(100% - 20px);
  background:rgba(0,0,0,.5);
  // display:flex;
  display:none;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  :global{
    .anticon{
      font-size: 16px;
      color: hsla(0,0%,100%,.85);;
      cursor: pointer;
    }
    .anticon:nth-of-type(1){
      margin-right: 5px;
    }
  }
}
